{% extends "base.html" %}
{% load static %}

{% block page_content %}
<div class="container">
    <div class="breadcrumbs">
        <ul>
            <li><a href="/">Main</a>
            </li>
            <li><a href="/programs">Dietary programs</a>
            </li>
            <li><span>{{ program.title }}</span>
            </li>
        </ul>
    </div>
    <div class="h1 page-title">{{ program.title }}</div>
    <div class="product">
        <div class="product-cart" id="product-cart">
            <script id="data-preview-gallery" type="application/json">
                {"thumbs":["/static/{{ program.image }}"],"badges":[],"items":[{"img":"/static/{{ program.image }}","alt":""}]}
            </script>
            <div class="preview-gallery" data-react-id="PreviewGallery">
                <div id="preview-gallery">
                    <div class="preview-gallery__desktop">
                        <div class="preview-gallery__inner">
                            <div class="preview-gallery__thumbs">
                                <span class="active">
                                    <img src="/static/{{ program.image }}">
                                </span>
                            </div>
                            <div class="preview-gallery__list">
                                <div class="preview-gallery__item active">
                                    <div class="preview-gallery__badges"></div>
                                    <img src="/static/{{ program.image }}" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="preview-gallery__mobile">
                        <div class="carousel">
                            <div class="slick-slider slick-initialized">
                                <div class="slick-list">
                                    <div class="slick-track" style="opacity: 1; transform: translate3d(0px, 0px, 0px); width: 375px;">
                                        <div data-index="0" class="slick-slide slick-active slick-current" tabindex="-1" aria-hidden="false" style="outline: none; width: 375px;">
                                            <div>
                                                <div class="gallery__item" tabindex="-1" style="width: 100%; display: inline-block;">
                                                    <img src="/static/{{ program.image }}" alt="">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <script id="data-product-order" type="application/json">
                {
                   "action":"",
                   "loadDataFromCookie":false,
                   "current":{
                      "type":null
                   },
                   "labels":{
                      "oldPrice":"Old price",
                      "type":"Type of set",
                      "city":"Your city",
                      "day":"Number of days",
                      "dayText":" for {day}",
                      "orderText":" Order this set",
                      "orderTextMobile":"Make an order",
                      "buttonTypeText":"Show {type}"
                   },
                   "product":{
                      "id":{{ program.id }},
                      "name":"{{ program.title }}",
                      "current":{
                         "type":null
                      },
                      "showTypeInName":false,
                      "picture":"\/static/{{ program.image }}",
                      "alt":"",
                      "info":[
                         {
                            "col1":"Purpose:",
                            "col2":"For effective weight loss, with full preservation of the necessary body substances, vitamins and minerals"
                         },
                         {
                            "col1":"Fits:",
                            "col2":"Women and men"
                         }
                      ],
                      "buttons":[
                         {
                            "id":"order",
                            "href":"",
                            "mobileText":"Make an order",
                            "text":"Make an order",
                            "classes":"active btn-circle btn-circle_md"
                         },
                         {
                            "id":"more",
                            "href":"#",
                            "text":"More about the set",
                            "mobileText":"",
                            "classes":"btn-white btn-circle btn-circle_md"
                         }
                      ],
                      "types":[
                         {
                            "id":1,
                            "text":" Standard",
                            "fullText":"Standard set",
                            "item":{
                               "href":"\/programs\/{{ program.id }}",
                               "days":[
                                  {
                                     "id":1,
                                     "text":"7 days"
                                  }
                               ],
                               "cities":[
                                  {
                                     "id":1,
                                     "text":"Seoul"
                                  },
                                  {
                                     "id":2,
                                     "text":"Incheon"
                                  }
                               ],
                               "prices":[
                                  {
                                     "cityId":1,
                                     "dayId":1,
                                     "price":"{{ program.price_week }} KRW",
                                     "priceFull":"{{ program.price_week }} KRW for 7 days",
                                     "trial":"{{ program.price_day }} KRW for trial day"
                                  },
                                  {
                                     "cityId":2,
                                     "dayId":1,
                                     "price":"{{ program.price_week }} KRW",
                                     "priceFull":"{{ program.price_week }} KRW for 7 days",
                                     "trial":"{{ program.price_day }} KRW for trial day"
                                  }
                               ]
                            }
                         }
                      ]
                   }
                }
            </script>
            <div id="product-order" data-react-id="ProductOrder">
                <div class="product-order">
                    <div>
                        <div class="product-order__price">{{ program.price_week }} KRW</div>
                        <div class="product-order__days">for 7 days</div>
                        <div class="product-order__text">{{ program.price_day }} KRW for trial day</div>
                    </div>
                    <div class="product-order__form">
                        <div class="product-order__radio-group product-order__radio-type">
                            <div class="product-order__title">Order type:</div>
                            <label class="product-order__active"><span>Standard</span></label>
                        </div>
                        <div>
                            <button class="product-order__btn"><span class="btn-desktop__text">Make an order</span>
                                <span class="btn-mobile__text">Make an order</span></button>
                            <button class="product-order__btn product-order__mobile">Make an order</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="product-description">
            <div class="product-description__inner">
                <div class="product-description__col">
                    <h4>Suitable if your goal:</h4>
                    <div class="product-description__goals">
                        <a class="btn-bordered">{{ program.tag }}</a>
                    </div>
                </div>
                <div class="product-description__col">
                    <h4>For whom:</h4>
                    <p>{{ program.target }}</p>
                    <h4>The programs helps:</h4>
                    <p>{{ program.aim }}</p>
                </div>
                <div class="product-description__col">
                    <h4>Description:</h4>
                    <p>{{ program.description }}</p>
                </div>
            </div>
        </div>

        {% if prohibitions %}
        <div class="product-description contraindications">
            <h4>Prohibitions</h4>
            <ul>
                {% for prohibition in prohibitions %}
                    <li>{{ prohibition }}</li>
                {% endfor %}
            </ul>
        </div>
        {% endif %}
    </div>

    <script id="data-product-menu" type="application/json">
        {
           "title":"Sample menu demonstration",
           "gallery":[
              {
                 "src":"/static/{{ program.breakfast_image }}",
                 "alt":""
              },
              {
                 "src":"/static/{{ program.brunch_image }}",
                 "alt":""
              },
              {
                 "src":"/static/{{ program.lunch_image }}",
                 "alt":""
              },
              {
                 "src":"/static/{{ program.dunch_image }}",
                 "alt":""
              },
              {
                 "src":"/static/{{ program.dinner_image }}",
                 "alt":""
              }
           ],
           "items":[
              {
                 "title":"Breakfast \\ 8:00-9:00",
                 "description":"<ul><li><span>{{ program.breakfast_info }}<\/span><\/li><\/ul>"
              },
              {
                 "title":"Brunch \\ 10:30-11:30",
                 "description":"<ul><li><span>{{ program.brunch_info }}<\/span><\/li><\/ul>"
              },
              {
                 "title":"Lunch \\ 13:00-14:00",
                 "description":"<ul><li><span>{{ program.lunch_info }}<\/span><\/li><\/ul>"
              },
              {
                 "title":"Dunch \\ 16:30-17:30",
                 "description":"<ul><li><span>{{ program.dunch_info }}<\/span><\/li><\/ul>"
              },
              {
                 "title":"Dinner \\ 19:00-20:00",
                 "description":"<ul><li><span>{{ program.dinner_info }}<\/span><\/li><\/ul>"
              }
           ]
        }
    </script>
    <div data-react-id="ProductMenu">
        <div class="product-menu">
            <h3>Sample menu demonstration</h3>
            <div class="product-menu__wrapper">
                <div class="product-menu__inner">
                    <div class="product-menu__list">
                        <div class="product-menu__item">
                            <div class="product-menu__title">Breakfast \ 8:00-9:00</div>
                            <div class="product-menu__description">
                                <ul>
                                    <li><span>{{ program.breakfast_info }}</span></li>
                                </ul>
                            </div>
                        </div>
                        <div class="product-menu__item">
                            <div class="product-menu__title">Brunch \ 10:30-11:30</div>
                            <div class="product-menu__description">
                                <ul>
                                    <li><span>{{ program.brunch_info }}</span></li>
                                </ul>
                            </div>
                        </div>
                        <div class="product-menu__item">
                            <div class="product-menu__title">Lunch \ 13:00-14:00</div>
                            <div class="product-menu__description">
                                <ul>
                                    <li><span>{{ program.lunch_info }}</span></li>
                                </ul>
                            </div>
                        </div>
                        <div class="product-menu__item">
                            <div class="product-menu__title">Dunch \ 16:30-17:30</div>
                            <div class="product-menu__description">
                                <ul>
                                    <li><span>{{ program.dunch_info }}</span></li>
                                </ul>
                            </div>
                        </div>
                        <div class="product-menu__item">
                            <div class="product-menu__title">Dinner \ 19:00-20:00</div>
                            <div class="product-menu__description">
                                <ul>
                                    <li><span>{{ program.dinner_info }}</span></li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="product-menu__gallery">
                        <div class="product-menu__gallery-item"></div>
                        <div class="slick-slider slick-initialized" dir="ltr">
                            <button type="button" data-role="none" class="slick-arrow slick-prev slick-disabled" style="display: block;"> Previous</button>
                            <div class="slick-list">
                                <div class="slick-track" style="width: 1875px; opacity: 1; transform: translate3d(0px, 0px, 0px);">
                                    <div data-index="0" class="slick-slide slick-active slick-current" tabindex="-1" aria-hidden="false" style="outline: none; width: 375px;">
                                        <div>
                                            <div class="gallery__item" tabindex="-1" style="width: 100%; display: inline-block;">
                                                <div><img src="/static/{{ program.breakfast_image }}" alt="">
                                                    <div class="product-menu__list">
                                                        <div class="product-menu__item product-menu__active">
                                                            <div class="product-menu__title">Breakfast \ 8:00-9:00</div>
                                                            <div class="product-menu__description">
                                                                <ul>
                                                                    <li><span>{{ program.breakfast_info }}</span></li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div data-index="1" class="slick-slide" tabindex="-1" aria-hidden="true" style="outline: none; width: 375px;">
                                        <div>
                                            <div class="gallery__item" tabindex="-1" style="width: 100%; display: inline-block;">
                                                <div><img src="/static/{{ program.brunch_image }}" alt="">
                                                    <div class="product-menu__list">
                                                        <div class="product-menu__item product-menu__active">
                                                            <div class="product-menu__title"> Brunch \ 10:30-11:30</div>
                                                            <div class="product-menu__description">
                                                                <ul>
                                                                    <li><span>{{ program.brunch_info }}</span></li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div data-index="2" class="slick-slide" tabindex="-1" aria-hidden="true" style="outline: none; width: 365px;">
                                        <div>
                                            <div class="gallery__item" tabindex="-1" style="width: 100%; display: inline-block;">
                                                <div><img src="/static/{{ program.lunch_image }}" alt="">
                                                    <div class="product-menu__list">
                                                        <div class="product-menu__item product-menu__active">
                                                            <div class="product-menu__title">Lunch \ 13:00-14:00</div>
                                                            <div class="product-menu__description">
                                                                <ul>
                                                                    <li><span>{{ program.lunch_info }}</span></li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div data-index="3" class="slick-slide" tabindex="-1" aria-hidden="true" style="outline: none; width: 365px;">
                                        <div>
                                            <div class="gallery__item" tabindex="-1" style="width: 100%; display: inline-block;">
                                                <div><img src="/static/{{ program.dunch_image }}" alt="">
                                                    <div class="product-menu__list">
                                                        <div class="product-menu__item product-menu__active">
                                                            <div class="product-menu__title"> Dunch \ 16:30-17:30</div>
                                                            <div class="product-menu__description">
                                                                <ul>
                                                                    <li><span>{{ program.dunch_info }}</span></li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div data-index="4" class="slick-slide" tabindex="-1" aria-hidden="true" style="outline: none; width: 365px;">
                                        <div>
                                            <div class="gallery__item" tabindex="-1" style="width: 100%; display: inline-block;">
                                                <div><img src="/static/{{ program.dinner_image }}" alt="">
                                                    <div class="product-menu__list">
                                                        <div class="product-menu__item product-menu__active">
                                                            <div class="product-menu__title">Dinner \ 19:00-20:00</div>
                                                            <div class="product-menu__description">
                                                                <ul>
                                                                    <li><span>{{ program.dinner_info }}</span></li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <button type="button" data-role="none" class="slick-arrow slick-next" style="display: block;"> Next</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
