{% extends "base.html" %}
{% load static %}

{% block page_content %}
<div class="container">
    <div class="breadcrumbs">
        <ul>
            <li><a href="/">Main</a></li>
            <li><span>About us</span></li>
        </ul>
    </div>
    <div class="text">
        <h1>About us</h1>
        <br>
        <p>
            We are an Internationals team.
            The idea for this project was gained during the group project at the Kookmin University and we started to implement it.
            Each of us has an extensive experience related to the restaurant business, monitoring food quality and managing catering staff.
            Nowadays, the healthy lifestyle has become very popular and we know all information needed for a proper nutrition.
            Healthy Food is a pioneer in its market.
            The mission of our company is "Healthy clients is a healthy company"!
            The main values ​​of our service is to save the planet! To be healthy! And bring a healthy lifestyle to people!
            Healthy Food is a team of professionals working to make proper nutrition lifestyle for everyone!
        </p>
    </div>
</div>
{% endblock %}