{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Healthy Food</title>
    <link rel="icon" type="image/x-icon" href="{% static 'img/logo.ico' %}">
    <link href="{% static 'css/maint5wnc4.min.css' %}" rel="stylesheet">
</head>
<body class="page page-index">
    <div id="wrapper">
        <div class="vegetables">
          <div class="tomato">
            <div></div>
          </div>
          <div class="bow">
            <div></div>
          </div>
          <div class="steak">
            <div></div>
          </div>
          <div class="limon">
            <div></div>
          </div>
          <div class="parsley">
            <div></div>
          </div>
          <div class="pepper">
            <div></div>
          </div>
        </div>
        <header class="header">
            <div class="container">
                <script id="data-mobile-menu" type="application/json">
                    {
                       "items":[
                          {
                             "id":0,
                             "text":"Main",
                             "icon":"\/static\/img\/assets\/mobile-menu\/home.svg",
                             "href":"\/"
                          },
                          {
                             "id":1,
                             "text":"Dietary programs",
                             "icon":"\/static\/img\/assets\/mobile-menu\/shopping-bag.svg",
                             "href":"\/programs"
                          },
                          {
                             "id":2,
                             "text":"How it works?",
                             "icon":"\/static\/img\/assets\/mobile-menu\/brain.svg",
                             "href":"\/how-it-works"
                          },
                          {
                             "id":3,
                             "text":"About us",
                             "icon":"\/static\/img\/assets\/mobile-menu\/open-magazine.svg",
                             "href":"\/about-us"
                          },
                          {
                             "id":4,
                             "text":"Contacts",
                             "icon":"\/static\/img\/assets\/mobile-menu\/mail.svg",
                             "href":"\/contacts"
                          }
                       ],
                       "submenu":[
                          {
                             "id":1,
                             "categories":[
                                {
                                   "icon":"\/static\/img\/assets\/mobile-menu\/woman.svg",
                                   "text":"For moms",
                                   "href":"\/programs\/programmy-dlya-mam"
                                },
                                {
                                   "icon":"\/static\/img\/assets\/mobile-menu\/piggy-bank.svg",
                                   "text":"Economy Kits",
                                   "href":"\/programs\/econom",
                                   "subcategories":[

                                   ]
                                },
                                {
                                   "icon":"\/static\/img\/assets\/mobile-menu\/shopping-bag.svg",
                                   "text":" Standard Kits",
                                   "href":"\/programs",
                                   "subcategories":[
                                      {
                                         "id":5,
                                         "text":"850 \u041a\u0430\u043b\u043e\u0440\u0438\u0438 ",
                                         "href":"\/set-econom-850-kalorii"
                                      },
                                      {
                                         "id":1,
                                         "text":"1200 \u041a\u0430\u043b\u043e\u0440\u0438\u0438 ",
                                         "href":"\/set-econom-1200-kalorii"
                                      },
                                      {
                                         "id":12,
                                         "text":"1500 \u041a\u0430\u043b\u043e\u0440\u0438\u0438 ",
                                         "href":"\/set-econom-1500-kalorii"
                                      },
                                      {
                                         "id":6,
                                         "text":"1800 \u041a\u0430\u043b\u043e\u0440\u0438\u0438 ",
                                         "href":"\/set-econom-1800-kalorii"
                                      },
                                      {
                                         "id":9,
                                         "text":"2200 \u043a\u0430\u043b\u043e\u0440\u0438\u0439",
                                         "href":"\/set-econom-2200-kalorij"
                                      },
                                      {
                                         "id":10,
                                         "text":"2800 \u041a\u0430\u043b\u043e\u0440\u0438\u0438 ",
                                         "href":"\/set-econom-2800-kalorii"
                                      },
                                      {
                                         "id":8,
                                         "text":"\u0412\u0435\u0433\u0435\u0442\u0430\u0440\u0438\u0430\u043d\u0441\u043a\u043e\u0435 \u043c\u0435\u043d\u044e",
                                         "href":"\/set-econom-vegetarianskoe-menu"
                                      },
                                      {
                                         "id":11,
                                         "text":"\u041f\u0440\u043e\u0433\u0440\u0430\u043c\u043c\u0430 \"\u041c\u0410\u041c\u0410\"",
                                         "href":"\/set-econom-programma-mama"
                                      }
                                   ]
                                }
                             ]
                          }
                       ],
                       "language":{
                          "text":"Languages:",
                          "items":[
                             {
                                "href":"\/",
                                "icon":"\/static\/img\/assets\/mobile-menu\/united-kingdom.svg"
                             }
                          ]
                       }
                    }
                </script>
                <div data-react-id="MobileMenu">
                    <div class="mobile-menu">
                        <div class="mobile-menu__header">
                            <div class="mobile-menu__icon closed"></div>
                        </div>
                        <div class="mobile-menu__body">
                            <div class="mobile-menu__inner">
                                <div class="mobile-menu__menu">
                                    <ul class="mm-menu-main">
                                        <li class="mm-item"><a href="/"><span class="mm-item__icon"><img src="{% static 'img/assets/mobile-menu/home.svg' %}"></span><span class="mm-item__text">Main</span></a></li>
                                        <li class="mm-item"><a href="/programs"><span class="mm-item__icon"><img src="{% static 'img/assets/mobile-menu/shopping-bag.svg' %}"></span><span class="mm-item__text">Dietary programs</span></a></li>
                                        <li class="mm-item"><a href="/how-it-works"><span class="mm-item__icon"><img src="{% static 'img/assets/mobile-menu/brain.svg' %}"></span><span class="mm-item__text">How it works</span></a></li>
                                        <li class="mm-item"><a href="/about-us"><span class="mm-item__icon"><img src="{% static 'img/assets/mobile-menu/open-magazine.svg' %}"></span><span class="mm-item__text">About us</span></a></li>
                                        <li class="mm-item"><a href="/contacts"><span class="mm-item__icon"><img src="{% static 'img/assets/mobile-menu/mail.svg' %}"></span><span class="mm-item__text">Contacts</span></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="logo">
                    <div class="logo__picture">
                        <a href="/">
                            <img src="{% static 'img/logo.svg' %}" alt=""> </a>
                    </div>
                </div>
                <div class="menu">
                    <nav>
                        <div class="main-menu">
                            <script id="data-main-menu" type="application/json">
                                [{"href":"\/","text":"Home"},{"href":"\/programs","text":"Dietary programs"},{"href":"\/how-it-works","text":"How it works?"},{"href":"\/about-us","text":"About us"},{"href":"\/contacts","text":"Contacts"}]
                            </script>
                            <div data-react-id="MainMenu">
                                <nav>
                                    <ul>
                                        <li><a href="/">Home</a></li>
                                        <li><a href="/programs">Dietary programs</a></li>
                                        <li><a href="/how-it-works">How it works?</a></li>
                                        <li><a href="/about-us">About us</a></li>
                                        <li><a href="/contacts">Contacts</a></li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </nav>
                </div>
                <div class="contacts">
                    <script id="data-phones" type="application/json">
                        ["+82-10-5931-6970","+82-10-8244-2610"]
                    </script>
                    <div id="Phones" data-react-id="Phones" onclick="showPhoneNumbers()">
                        <div id="phone" class="phone" role="combobox" aria-expanded="false" aria-haspopup="listbox" aria-labelledby="downshift-1-label">
                            <div class="phone__icon">
                                <img src="/static/img/assets/header/shape.svg">
                            </div>
                        </div>
                    </div>
                    <script>
                        function showPhoneNumbers() {
                            let expand = document.getElementById("phone");
                            if (expand != null) {
                                document.getElementById("Phones").innerHTML = '<div id="phone-expanded" class="phone" role="combobox" aria-expanded="true" aria-haspopup="listbox" aria-labelledby="downshift-1-label" aria-owns="downshift-1-menu"><div class="phone__icon"><img src="/static/img/assets/header/shape.svg"></div><div class="phone__text animated faster fadeIn" role="listbox" aria-labelledby="downshift-1-label" id="downshift-1-menu"><div class="phone__triangle"></div><ul><li><a href="tel:+82-10-5931-6970">+82-10-5931-6970</a></li><li><a href="tel:+82-10-8244-2610">+82-10-8244-2610</a></li></ul></div></div>\n';
                            }
                            else {
                                document.getElementById("Phones").innerHTML = '<div id="phone" class="phone" role="combobox" aria-expanded="false" aria-haspopup="listbox" aria-labelledby="downshift-1-label"><div class="phone__icon"><img src="/static/img/assets/header/shape.svg"></div></div>';
                            }
                        }
                    </script>
                </div>
            </div>
        </header>

    <main class="main">
        <section id="template-section">
            <div id="template-div">
                {% block page_content %}{% endblock %}
            </div>
        </section>
    </main>

    <section class="questions bg-grey">
        <div class="container">
            <div class="questions__row">
                <div class="questions__col">
                    <div class="questions__picture">
                        <img src="{% static 'img/assets/questions/girl.png' %}">
                    </div>
                    <div class="questions__picture"></div>
                </div>
                <div class="questions__col">
                    <div class="questions__body">
                        <div class="questions__title"><div class="h2">Still have questions?</div></div>
                        <div class="questions__annotation">Get a quick response from our specialists</div>
                        <div class="questions__form">
                            <div>
                                <script id="data-question-form" type="application/json">
                                    {"action":"\/ajax\/send-question","question_placeholder":"What is your inquiry?","question_phone":"Your phone number","button_text":"Submit"}
                                </script>
                                <div data-react-id="QuestionForm">
                                    <div class="question-form">
                                        <form class="">
                                            <input name="Question[&#39;phone&#39;]" type="text" class="input-text_black" placeholder="Your phone number">
                                            <input name="Question[&#39;question&#39;]" type="text" class="input-text_black" placeholder="What is your inquiry?">
                                            <button class="btn-send">Submit</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <footer class="footer bg-white">
        <div class="container">
            <div class="footer__row">
                <div class="footer__logo">
                    <div class="logo">
                        <div class="logo__picture">
                            <a href="/">
                                <img src="{% static 'img/logo.svg' %}" alt=""> </a>
                        </div>
                        <div class="logo__slogan">Healthy food delivery</div>
                    </div>
                </div>
                <div class="footer__menu">
                    <ul>
                        <li><a href="/">Home</a></li>
                        <li><a href="/programs">Dietary programs</a></li>
                        <li><a href="/how-it-works">How it works?</a></li>
                    </ul>
                </div>
                <div class="footer__menu footer__menu_2">
                    <ul>
                        <li><a href="/about-us">About us</a></li>
                        <li><a href="/contacts">Contacts</a></li>
                    </ul>
                </div>
                <div class="footer__contacts">
                    <div class="contacts">
                        <div class="contacts__title">Contact us</div>
                        <div class="contacts__body">
                            <div class="contacts__list">
                                <ul>
                                    <li>
                                        <div class="contact-item">
                                            <div class="contact-item__phone"><a href="tel:+82-10-5931-6970">+82-10-5931-6970</a></div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="contact-item">
                                            <div class="contact-item__phone"><a href="tel:+82-10-8244-2610">+82-10-8244-2610</a></div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="footer__socials">
                    <div class="socials">
                        <div class="socials__list">
                            <ul>
                                <li>
                                    <a target="_blank" href="https://www.instagram.com/">
                                        <img src="{% static 'img/instagram-circle.svg' %}">
                                    </a>
                                </li>
                                <li>
                                    <a target="_blank" href="https://www.facebook.com/">
                                        <img src="{% static 'img/facebook-circle.svg' %}">
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="socials__slogan">Now we are closer!<br>Find us on social networks!</div>
                        <div class="socials__email">
                            <a href="mailto:kumisbekovaelya@gmail.com">
                                <img src="{% static 'img/email.svg' %}"><span>info@healthy-food.com</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    </div>

    <script src="{% static 'test/jquery.js' %}"></script>
    <script src="{% static 'test/yii.js' %}"></script>
    <script src="{% static 'test/wow.min.js' %}"></script>
    <script src="{% static 'js/maint5wnc4.min.js' %}"></script>
    <script>new WOW().init();</script>
</body>
</html>
