{% extends "base.html" %}
{% load static %}

{% block page_content %}
<div class="container">
    <div class="breadcrumbs">
        <ul>
            <li><a href="/">Main</a></li>
            <li><span>How it works?</span></li>
        </ul>

    </div>
    <h1 class="page-title text-center">How it works?</h1>
    <div class="how-it-work">
        <div class="work-step">
            <div class="work-step__header">
                <div class="work-step__num">1</div>
                <div class="work-step__text">You make an order on the website or on our <a href="">instagram account</a>
                </div>
            </div>
            <div class="work-step__body">
                <div class="work-step__row">
                    <div class="work-step__col">
                        <img src="{% static 'img/step1.svg' %}">
                    </div>
                    <div class="work-step__separator"></div>
                    <div class="work-step__col">
                        <img class="img-circle" src="{% static 'img/instagram-circle-big.svg' %}">
                    </div>
                </div>
            </div>
        </div>
        <div class="work-step">
            <div class="work-step__header">
                <div class="work-step__num">2</div>
                <div class="work-step__text">You communicate with our consultant</div>
            </div>
            <div class="work-step__description">Our employee assists you on the final selection of the program, together you fill in the personal data.
                <br>If there is some health related restriction, your information is transmitted to a nutritionist for review and development of a conclusion.
            </div>
            <div class="work-step__body">
                <div class="work-step__picture">
                    <img class="img-circle" src="{% static 'img/step2.png' %}">
                </div>
            </div>
        </div>
        <div class="work-step">
            <div class="work-step__header">
                <div class="work-step__num">3</div>
                <div class="work-step__text">We pack your food</div>
            </div>
            <div class="work-step__description">After the final choice of the program, the prepared meals are laid out in special sealed containers
                <br>that could be reheated in oven or microwave.
            </div>
            <div class="work-step__body">
                <div class="work-step__picture">
                    <img class="img-circle" src="{% static 'img/step3.png' %}">
                </div>
            </div>
        </div>
        <div class="work-step">
            <div class="work-step__header">
                <div class="work-step__num">4</div>
                <div class="work-step__text">We deliver your food</div>
            </div>
            <div class="work-step__description">
                <p>
                    On the first day of delivery, payment is made via courier.
                    Delivery is carried out by our courier drivers, who must make a call one hour before departure and deliver food to the address you specify.
                    (Delivery time is from 17:00 to 22:00)
                </p>
                <p>
                    Healthy food delivery is carried out in special thermo-bags.
                    Thermo-bag, ensures the safety of products for 5-6 hours from the moment of delivery.
                    Thermo-bags and cold elements are returnable and transferred to the courier with the next delivery.
                    At the request of the client, a thermo-bag is provided for the entire program period for a deposit value.
                </p>
            </div>
            <div class="work-step__body">
                <div class="work-step__picture">
                    <img class="img-circle-100" src="{% static 'img/step4.png' %}">
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
