{% extends "base.html" %}
{% load static %}

{% block page_content %}
<section class="slogan">
    <div class="container">
        <div class="slogan__h1">Healthy food delivery</div>
        <div class="slogan__h2">During the program, you can lose up to 15 kg of excess weight!</div>
    </div>
</section>

<div data-react-id="FoodPrograms">
    <section class="food-programs">
        <div class="container">
            <div class="food-programs__header">
                <div class="food-programs__title">Your aim:</div>
                <div class="food-programs__menu">
                    <nav>
                        <ul>
                            <li class="fpm-item">
                                <a href="/" class="fpm-item__wrap btn-circle">
                                    <div class="fpm-item__icon"><span class="fp-icon fp-icon-6 "></span></div>
                                    <div class="fpm-item__text">All programs</div>
                                </a>
                            </li>
                            <li class="fpm-item">
                                <a href="/?tag=1" class="fpm-item__wrap btn-circle">
                                    <div class="fpm-item__icon"><span class="fp-icon fp-icon-1 "></span></div>
                                    <div class="fpm-item__text">Lose weight</div>
                                </a>
                            </li>
                            <li class="fpm-item">
                                <a href="/?tag=2" class="fpm-item__wrap btn-circle">
                                    <div class="fpm-item__icon"><span class="fp-icon fp-icon-2 "></span></div>
                                    <div class="fpm-item__text">Gain muscle mass</div>
                                </a>
                            </li>
                            <li class="fpm-item">
                                <a href="/?tag=3" class="fpm-item__wrap btn-circle">
                                    <div class="fpm-item__icon"><span class="fp-icon fp-icon-3 "></span></div>
                                    <div class="fpm-item__text">Maintain result</div>
                                </a>
                            </li>
                            <li class="fpm-item">
                                <a href="/?tag=4" class="fpm-item__wrap btn-circle">
                                    <div class="fpm-item__icon"><span class="fp-icon fp-icon-4 "></span></div>
                                    <div class="fpm-item__text">Programs for moms</div>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
            <div class="food-programs__body">
                <div class="food-programs__row">
                    {% if programs.0 %}
                    <div class="food-item animated fadeInLeft">
                        <div class="food-item__angles">
                            <div class="angles">
                                <div class="left-angle"></div>
                                <div class="shadow-line"></div>
                                <div class="right-angle"></div>
                            </div>
                        </div>
                        <div class="food-item__header">
                            <div class="food-item__title">
                                <div class="h2"> <span>{{ programs.0.title }}</span></div>
                            </div>
                            <div class="food-item__line">&nbsp;</div>
                        </div>
                        <div class="food-item__body">
                            <div class="food-item__info">
                                <div class="food-item__info-row">
                                    <div class="food-item__info-col">Aim:</div>
                                    <div class="food-item__info-col">{{ programs.0.aim }}</div>
                                </div>
                                <div class="food-item__info-row">
                                    <div class="food-item__info-col">Fits:</div>
                                    <div class="food-item__info-col">{{ programs.0.target }}</div>
                                </div>
                            </div>
                            <div class="food-item__picture">
                                <a href="/programs/{{ programs.0.id }}">
                                    {% static "" as baseUrl %}
                                    <img src="{{ baseUrl }}{{ programs.0.image }}" alt="">
                                </a>
                            </div>
                        </div>
                        <div class="food-item__footer">
                            <div class="food-price">
                                <div class="food-price__items">
                                    <div class="food-price__item active">
                                        <div class="food-price__body">
                                            <div class="food-price__text">{{ programs.0.price_week }} KRW for 7 days</div>
                                        </div>
                                        <div class="food-price__footer">
                                            <div class="food-price__trial-day">{{ programs.0.price_day }} KRW for trial day</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="food-item__buttons">
                                <a class="active btn-circle btn-circle_md" href="">Make an order</a>
                                <a class="btn-white btn-circle btn-circle_md" href="/programs/{{ programs.0.id }}">About this program</a>
                            </div>
                        </div>
                    </div>
                    {% endif %}

                    {% if programs.1 %}
                    <div class="food-item animated fadeInRight">
                        <div class="food-item__angles">
                            <div class="angles">
                                <div class="left-angle"></div>
                                <div class="shadow-line"></div>
                                <div class="right-angle"></div>
                            </div>
                        </div>
                        <div class="food-item__header">
                            <div class="food-item__title">
                                <div class="h2"> <span>{{ programs.1.title }}</span></div>
                            </div>
                            <div class="food-item__line">&nbsp;</div>
                        </div>
                        <div class="food-item__body">
                            <div class="food-item__info">
                                <div class="food-item__info-row">
                                    <div class="food-item__info-col">Aim:</div>
                                    <div class="food-item__info-col">{{ programs.1.aim }}</div>
                                </div>
                                <div class="food-item__info-row">
                                    <div class="food-item__info-col">Fits:</div>
                                    <div class="food-item__info-col">{{ programs.1.target }}</div>
                                </div>
                            </div>
                            <div class="food-item__picture">
                                <a href="/programs/{{ programs.1.id }}">
                                    {% static "" as baseUrl %}
                                    <img src="{{ baseUrl }}{{ programs.1.image }}" alt="">
                                </a>
                            </div>
                        </div>
                        <div class="food-item__footer">
                            <div class="food-price">
                                <div class="food-price__items">
                                    <div class="food-price__item active">
                                        <div class="food-price__body">
                                            <div class="food-price__text">{{ programs.1.price_week }} KRW for 7 days</div>
                                        </div>
                                        <div class="food-price__footer">
                                            <div class="food-price__trial-day">{{ programs.1.price_day }} KRW for trial day</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="food-item__buttons">
                                <a class="active btn-circle btn-circle_md" href="">Make an order</a>
                                <a class="btn-white btn-circle btn-circle_md" href="/programs/{{ programs.1.id }}">About this program</a>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                </div>

                {% if programs.2 %}
                <div class="food-programs__row">
                    {% for program in programs|slice:"2:10" %}
                        <div class="food-item food-item_md animated fadeInUp delay-1s">
                            <div class="food-item__angles">
                                <div class="angles">
                                    <div class="left-angle"></div>
                                    <div class="shadow-line"></div>
                                    <div class="right-angle"></div>
                                </div>
                            </div>
                            <div class="food-item__header">
                                <div class="food-item__title">
                                    <div class="h2"><span>{{ program.title }}</span></div>
                                </div>
                                <div class="food-item__line">&nbsp;</div>
                            </div>
                            <div class="food-item__body">
                                <div class="food-item__info">
                                    <div class="food-item__info-row">
                                        <div class="food-item__info-col">Aim:</div>
                                        <div class="food-item__info-col">{{ program.aim }}</div>
                                    </div>
                                    <div class="food-item__info-row">
                                        <div class="food-item__info-col">Fits:</div>
                                        <div class="food-item__info-col">{{ program.target }}</div>
                                    </div>
                                </div>
                                <div class="food-item__picture">
                                    <a href="/programs/{{ program.id }}">
                                        {% static "" as baseUrl %}
                                        <img src="{{ baseUrl }}{{ program.image }}" alt="">
                                    </a>
                                </div>
                            </div>
                            <div class="food-item__footer">
                                <div class="food-price">
                                    <div class="food-price__items">
                                        <div class="food-price__item active">
                                            <div class="food-price__body">
                                                <div class="food-price__text">{{ program.price_week }} KRW for 7 days</div>
                                            </div>
                                            <div class="food-price__footer">
                                                <div class="food-price__trial-day">{{ program.price_day }} KRW for trial day</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="food-item__buttons">
                                    <a class="active btn-circle btn-circle_md" href="">Make an order</a>
                                    <a class="btn-white btn-circle btn-circle_md" href="/programs/{{ program.id }}">About this program</a></div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                {% endif %}
            </div>
        </div>
    </section>
</div>
{% endblock %}
